h1 {
    font-size :50px;
    color: #071952;
    border: 3px solid teal;
    height: 100px;
    padding-top: 20px;
    padding-left :200px;
    margin-left: 90px;
    margin-right: 90px;
    background-color:rgb(142, 224, 117)
   
  }
  nav {
   text-align: right;
        
   }
  a{
    text-decoration: none;
    color:#9a219e;
    font-style: bold;
     border-radius:10px;
     border :2px solid black;
     background-color: coral;
   }
  
  body{
    background-image: url("photo-1464618663641-bbdd760ae84a.jpg");
    font-family: cursive;
  }